@model ECommerce.UI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="login-page">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h3 class="w3ls-title w3ls-title1">Forgot your Password?</h3>
    <div class="login-body">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.TextBoxFor(m => m.Email, new { @class = "user", placeholder = "E-mail" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", placehodler = "Password" })
            <input type="submit" value="Email Link">
        }
    </div>
    <h6> Not a Member? <a href="@Url.Content("~/")Account/register">Sign Up Now »</a> </h6>
</div>

@*<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}*@

