@model Ecommerce.DAL.Order
@{
    ViewBag.Title = "Shipping Info";
}
@using (Html.BeginForm("ShippingInfo", "Shopping", FormMethod.Post))
{
    <div class="container" style="min-height:400px;position:relative">
        <a href="@Url.Action("checkout", "shopping")" class="btn btn-primary" style="position:absolute;bottom:5px;left:0;border-radius:0;">Back to Cart</a>
        <button type="submit" class="btn btn-primary" style="position:absolute;bottom:5px;right:0;border-radius:0;">Proceed to Payment</button>
        <div class="col-sm-4 shoppingsetps">
            <div class="col-sm-12 step active">
                <span> 1 </span>
                Check out
            </div>
            <div class="col-sm-12 step active">
                <span> 2 </span>
                Shipping Info
            </div>
            <div class="col-sm-12 step">
                <span> 3 </span>
                Payment
            </div>
        </div>
        <div class="col-sm-5" style="margin-top:20px;">
            <h4 style="color:#CC242E;">Please fill the following detail</h4>
            <div class="row">
                <div class="col-sm-12">
                    @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.LabelFor(x => x.Country, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.Country, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Country, "", new { @class = "text-danger" })
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(x => x.City, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.City, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Html.LabelFor(x => x.PostalCode, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.PostalCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.PostalCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Html.LabelFor(x => x.Address, new { @class = "control-label" })
                    @Html.TextAreaFor(x => x.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>
}
