@model IEnumerable<Ecommerce.DAL.Banner>
@using Ecommerce.DAL.Enums
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Banner Images</h4>
                <div class="options">

                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Image</th>
                                <th>Heading</th>
                                <th>Description</th>
                                <th>Animation Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           @if (Model != null && Model.Count() > 0)
                                       {
                                           int i = 1;
                                           foreach (var item in Model)
                                           {
                                <tr>
                                    <td>@i</td>
                                    <td><img src="@item.ImgUrl" class="img-responsive" style="width:50px;height:50px"/></td>
                                    <td>@item.Heading</td>
                                    <td>@item.Description</td>
                                    <td>
                                        @switch (item.AnimationType)
                                        {
                                            case (int)SliderAnimation.flipInX:
                                                <label>flipInX</label>
                                                break;
                                            case (int)SliderAnimation.fadeInUp:
                                                <label>fadeInUp</label>
                                                break;
                                            case (int)SliderAnimation.fadeInLeft:
                                                <label>fadeInLeft</label>
                                                break;
                                            case (int)SliderAnimation.fadeInDown:
                                                <label>fadeInDown</label>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        @Ajax.ActionLink("Edit", "Edit", "Banner", new { id = item.Id },new AjaxOptions {HttpMethod="GET",UpdateTargetId= "crtbanner" }, new { @class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Delete", "Delete", "Banner",new {id=item.Id }, new { @class = "btn btn-danger btn-sm" })
                                    </td>
                                </tr>
                                i++;
                                              }
                                          }
                                          else
                                          {
                            <tr>
                                <td colspan="6" class="text-danger text-center">
                                    No Record found.
                                </td>
                            </tr>
                           }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
